* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
}

/* Linke Sidebar */
.sidebar {
    width: 220px;
    background: #181818;
    padding: 15px;
    overflow-y: auto;
    border-right: 1px solid #333;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar div {
    padding: 8px;
    margin-bottom: 5px;
    background: #222;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar div:hover {
    background: #333;
}

/* Episoden Bereich */
.episodes {
    width: 260px;
    background: #141414;
    padding: 15px;
    overflow-y: auto;
    border-right: 1px solid #333;
}

.episodes div {
    padding: 8px;
    margin-bottom: 5px;
    background: #222;
    cursor: pointer;
    border-radius: 5px;
}

.episodes div:hover {
    background: #333;
}

/* Player */
.player {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

video {
    width: 100%;
    max-height: 70vh;
    background: black;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: crimson;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
