body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

h1 {
    padding: 20px;
}

.layout {
    display: flex;
    height: 90vh;
}

.series-list {
    width: 200px;
    background: #1a1a1a;
    padding: 10px;
    overflow-y: auto;
}

.series-list div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.series-list div:hover {
    background: #333;
}

.episodes-section {
    width: 250px;
    background: #181818;
    padding: 10px;
    overflow-y: auto;
}

#episodeList div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

#episodeList div:hover {
    background: #333;
}

.player {
    flex: 1;
    padding: 20px;
}

video {
    width: 100%;
    max-height: 70vh;
    background: black;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}
