body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

h1 {
    padding: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #1a1a1a;
    padding: 10px;
}

.sidebar div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.sidebar div:hover {
    background: #333;
}

.player {
    flex: 1;
    padding: 20px;
}

video {
    width: 100%;
    max-height: 70vh;
    background: black;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}
